/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* //////////////////////////////////////// */
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --prim: hsl(0, 45%, 46%);
    --txt-lg: #eee;
    --txt-dk: #333;

    --brad: 5px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--txt-dk);
    font-size: 1.8rem;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
}

/* COMBINATORS */
header,
nav {
    padding: 2rem;
}

li,
.display p,
button,
.lt-side *,
.rt-side .remove-task {
    transition: all .2s;
    cursor: pointer;
}

li:hover,
.display p:hover,
.new-task:hover {
    background-color: hsla(0, 4%, 40%, .2);
}

input,
.btns button {
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: inherit;
}

/* //////////////////////////////////////// */
/* HEADER */
header {
    background-color: var(--prim);

    grid-column: span 2;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 6rem;
    color: var(--txt-lg);

    display: flex;
    align-items: center;
    gap: 1rem;
}

/* //////////////////////////////////////// */
/* NAV */
nav {
    background-color: hsla(0, 4%, 40%, .2);
    height: 100%;
    padding-top: .5rem;
}

ul {
    list-style: none;
    padding-top: 2rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    padding: 1rem 1.5rem;
    border-radius: var(--brad);

    display: flex;
    align-items: center;
    gap: 1rem;
}

.projects h3 {
    font-size: 2.5rem;
}

/* //////////////////////////////////////// */
/* DISPLAY */
.display {
    padding: 2rem 10rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.display p {
    padding: 1rem 1.5rem;
    border-radius: var(--brad);

    display: flex;
    align-items: center;
    gap: 1rem;
}


/* //////////////////////////////////////// */
/* FOOTER */
footer {
    background-color: hsl(0, 4%, 40%);
    padding: 2rem;
    width: 100%;
    text-align: center;

    grid-column: span 2;
}

footer p {
    color: var(--txt-lg);
    font-size: 2rem;
}

/* //////////////////////////////////////// */
/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 1rem 1.5rem;
    font-family: inherit;
    outline: none;
    border: 1px solid #555;
    border-radius: var(--brad);
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.btns button {
    font-family: inherit;
    font-weight: 700;
    border: none;
    border-radius: var(--brad);
    width: 100%;
}

.btns button:hover {
    filter: contrast(2);
}

.add {
    background-color: hsla(120, 45%, 46%, .3);
}

.cancel {
    background-color: hsla(0, 45%, 46%, .3);
}

/* //////////////////////////////////////// */
/* NEW TASK */
.new-task {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    border-radius: var(--brad);
    transition: all .2s;
}

.lt-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-checkbox {
    height: 2rem;
    width: 2rem;
    border: 1px solid #333;
    border-radius: 50%;
    padding: .5rem;

    display: inline-block;
}

.rt-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* #task-date {
    
} */

.remove-task {
    opacity: 0;
}

.new-task:hover .remove-task {
    opacity: 1;
}

/* //////////////////////////////////////// */
/* HELPERS */
.hidden {
    display: none !important;
}

.active {
    background-color: hsla(0, 4%, 40%, .2);
}